#root, body, html {
    height: 100%;
    margin: 0;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), linear-gradient(to top, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    background-size: cover;
   
}